pandas
pyarrow
scikit-learn==1.7.2
lightgbm
catboost
xgboost
mlflow
pyyaml
dagshub
apache-airflow
fastapi
uvicorn
pydantic
prometheus_fastapi_instrumentator
evidently
dvc
pytest
ruff
kaggle
python-dotenv
streamlit
duckdb
plotly
httpx